@font-face{
    font-family: italic;
    src: url(philosopher/Philosopher-BoldItalic.ttf)
}

@font-face{
    font-family: pre;
    src: url(pretty_wonder/Pretty\ Wonder.otf)
}

body {
    font-family: italic;}

    nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ac80c0;
}

.fuente{
    font-family:'italic';
}

.titulo{
    font-size: 70px;
    font-family: pre;
    text-align: center;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.785); 
    z-index: -1;
}

.hero-content {
    color: rgb(149, 142, 163);
    position: relative;
    z-index: 1;
    font-family: italic;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
}