@font-face{
    font-family: italic;
    src: url(philosopher/Philosopher-BoldItalic.ttf)
}

@font-face{
    font-family: pre;
    src: url(pretty_wonder/Pretty\ Wonder.otf)
}

body {
    font-family: italic;}

    nav ul {
    background-color: rgb(99, 71, 126);;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ac80c0;
}

.fuente{
    font-family:'italic';
}

.titulo{
    font-size: 70px;
    font-family: pre;
    text-align: center;
}

.titulo2{
    font-size: 50px;
    font-family: pre;
    text-align: center;
}
